<div class="container">
  {{#if viewData }}
  {{#each viewData}}
  <div class="card card-body m-3 bg-dark text-light" id={{id}} style="width: 35rem;">
    <p class="card-text font-italic issue-creator&created">Author: {{creator}}<br>Created: {{created}}</p>
    <h2 class="card-title issue-id&title">#{{id}} - {{title}}</h2>
    <h5 class="card-text text-primary issue-state">{{state}}</h5>
    <p class="card-text issue-description">{{description}}</p>
    {{#if labels}}

    <ul class="card-list text-warning">
      <p class="card-title list-title h5 text-warning">Labels</p>
      {{#each labels}}
      <li class="card-list list-item issue-labels">{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}
    <p class="card-text issue-updated">Last changed: {{updated}}.</p>
  </div>
  {{/each}}
  {{/if}}
</div>